{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Welcome, {{ teacher.user.first_name }} {{ teacher.user.last_name }}</h1>
    <h2 class="text-center">Your Sessions</h2>
    <div class="row mt-3">
        <div class="col-md-10 offset-md-1">
            <div class="list-group">
                {% if sessions %}
                    {% for session in sessions %}
                        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h5 class="mb-1">{{ session.department.name }}</h5>
                                <p class="mb-1">{{ session.subject.name }} - Year: {{ session.year }}</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Session Actions"> 
                                <a href="{% url 'teacher_session_attendance' session.id %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-list"></i> View Attendance</a>
                                
                                {% if session.attendence_active %}
                                    <form action="{% url 'stop_attendence' session_id=session.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-stop"></i> Stop Attendance</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'start_attendence' session_id=session.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-play"></i> Start Attendance</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted mt-3 text-center">You have no sessions.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
