{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Subject List</h1>
    <ul class="list-group mt-3">
        {% for subject in subjects %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ subject.name }}</span>
            <a href="{% url 'teacher_add_question' subject.id %}" class="btn btn-primary btn-sm">Add Question</a>
        </li>
        {% empty %}
        <li class="list-group-item">No subjects available</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}