{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon ">
            <img src="{% static 'images/sggs_logo.png' %}" alt="logo" class="img-fluid rounded-circle">
            <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
        </div>
        <div class="sidebar-brand-text mx-3">SGGS Administration</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% if is_administration %}
    <div>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin_home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="{% url 'notifications' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Notifications</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_administrator_detail' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Edit profile</span></a>
        </li>
 
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            College
        </div>

        <!-- session  -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_session_list' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>List of Session</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_session'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Session</span></a>
        </li> 


        <!-- Subject -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_subject_list'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>List of Subjects</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_subject_add'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Subject</span></a>
        </li>

        <!-- Department -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_department_list'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>List of Departments</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_department_add'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Department</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Teacher
        </div>
 

        <!-- Manage Teacher -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_teacher_add_excel'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Teacher</span></a>
        </li> 


        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_manage_teacher'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Manage Teacher</span></a>
        </li> 

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Student
        </div> 


        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_student_add_excel'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Student</span></a>
        </li> 

        <!-- Manage Student -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_student_manage'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Manage Student</span></a>
        </li> 

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Admins
        </div> 


        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_admin_add_excel'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Admins</span></a>
        </li> 
    </div> 
    {% endif %}

    {% if is_teacher %}
    <div>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'teacher_home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li> 
 

        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_teacher_detail' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Edit Profile</span></a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Notifications</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Feedback</span></a>
        </li>  -->

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_subject_list' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Subjects</span></a>
        </li>  

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_sessions' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Sessions</span></a>
        </li> 

        <!-- <hr class="sidebar-divider"> -->

        <!-- Heading -->
        <!-- <div class="sidebar-heading">
            Student
        </div>

        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Notice</span></a>
        </li> -->
    </div>
    {% endif %}

    {% if is_student %}
    <div>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'student_home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li> 
 

        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_student_detail' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Edit Profile</span></a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Notifications</span></a>
        </li> -->

        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Feedback</span></a>
        </li>  -->

        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Give attendence</span></a>
        </li>   -->

        <li class="nav-item">
            <a class="nav-link" href="{% url 'student_sessions' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Sessions</span></a>
        </li> 
 
    </div>
    {% endif %}


    {% if is_librarian %}
    <div>

        <!-- Divider -->
        <hr class="sidebar-divider"> 
        
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
            
        <!-- Divider -->
        <hr class="sidebar-divider"> 
        
        <!-- Heading -->
        <div class="sidebar-heading">
            Books
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_list' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Book List</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_add' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Book</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_add_excel' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Add Books</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Heading -->
        <div class="sidebar-heading">
            Borrowing
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_borrow_list' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Borrow's Table</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_borrow' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Borrow Book</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_book_return' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Return Book</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'library_send_reminder_email' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Send Message</span></a>
        </li>
    </div>
    {% endif %}


    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
 

</ul>