{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Manage Teachers</h1>  
    <ul class="list-group">
        {% for teacher in teachers %}
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">{{ teacher.user.username }}</div>
                    <div class="col-auto">
                        <form method="post" action="{% url 'admin_manage_teacher' %}">
                            {% csrf_token %}
                            <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
                            <input type="hidden" name="action" value="remove_teacher_role">
                            <button type="submit" class="btn btn-danger">Remove Teacher Role</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'admin_teacher_detail' teacher.id  %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No teachers</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
