{% extends "base.html" %} 
{% block content %}
<div class="container">
    <h1>Department List</h1>
    <ul>
        {% for department in departments %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ department.name }}</span>
                <div class="d-flex flex-wrap">
                    <a href="{% url 'admin_department_edit' department.id %}" class="btn btn-primary mr-2">Edit</a>
                    <a href="{% url 'admin_department_delete' department.id %}" class="btn btn-danger">Delete</a>
                </div>
            </li>
        {% endfor %}
</div>
{% endblock content %}