{% extends "base.html" %} 
{% block content %}
<div class="container">
    <h1>Session List</h1>

    <!-- Display filter form -->
    <form method="GET">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mr-2">Filter</button>
    </form>

    <!-- Display sessions -->
    <!-- <ul>
        {% for session in sessions %}
            <li>{{ session }}</li>
        {% endfor %}
    </ul> -->
    <ul>
        {% for session in sessions %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ session.department.name }} - {{ session.subject.name }} - Year: {{ session.year }}</span>
            <div class="d-flex flex-wrap">
                <a href="{% url 'admin_edit_session' session.id %}" class="btn btn-primary mr-2">Edit</a>
                <a href="{% url 'session_attendance' session.id %}" class="btn btn-primary mx-2">View Attendance</a>
            </div>
        </li> 
        {% empty %}
            <li class="list-group-item">No sessions available</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}